@charset "UTF_8";
*{
    font-family: "Montserrat", sans-serif;
}
html,body{
    overflow-x:hidden;
    height:100vh;
    background-color: #333;
}
body#master{
    background-color: #333;
}
#header{
    background:url(../img/fight_club.jpg) no-repeat;
    opacity:.8;
    height:800px;
    background-size:cover;
    width:100vw;
}
#header .title-div{
    display:flex;
    justify-content:center;
    align-items:center;
    height: 100%;
    flex-direction:column;
}
.title-div h1{
    color: white;
    opacity: 1;
    font-weight: bold;
    font-size: 4rem;
}
  

/* walpapers */
.slider {
    max-width: 600px;
    position: relative;
    margin: auto;
    
}
.slider h2{
    text-align: center;
    color: white;
    margin: 2rem 0;
}
.mySlides {
    display: none;
}


.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
div.body{
    margin-top: 30px;
    padding-bottom: 10px;
}
div.body p{
    padding-top: 5px;
    max-width: 600px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin: auto;
}
main#container hr{
    border-color: white;

}
footer p {
    color: white ;
    text-align: center;
}