@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Karla:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,300&display=swap');
*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color:rgba(0, 0, 0, 0.753); 
    color: white;
}
header{
    text-align: center;
    background-image: linear-gradient(to right , rgba(0, 0, 0, 0.87),rgba(0, 0, 0, 0.664));
    width:100%;
}
header> h1{
    padding-top: 15px;
    padding-bottom:20px ;
    font-size: 2.6em;
    font-family: 'Bebas Neue' ,'sans-serif';
}
header> img {
    padding-bottom: 15px;
    box-shadow: 1px 1px 5px purple;
    max-width: 320px;
    
}
main {
    text-align: center;
    margin: auto;
    background-color: black;
    min-width: 320px;
    max-width: 900px;
    word-spacing: 1px;
    line-height: 1.3;
}
main >h1 {
    font-family: 'Oswald',  'sans-serif';
    padding-top: 10px;
    padding-bottom: 18px;
}
main > img {
    width: 90%;
   
}

main>img.touch{
    box-shadow: 1px 1px 2px yellow;
}
main>img.kazega{
    box-shadow: 1px 1px 2px orange;
}
main>img.mob{
    box-shadow: 1px 1px 2px aqua;
}
main>img.boxe{
    box-shadow: 1px 1px 2px red;
}
main>img.one{
    box-shadow: 1px 1px 2px blue;
}
main >p {
    text-align: justify;
    text-indent: 15px;
    padding:5px;
    font-family: 'Barlow', 'sans-serif';
}
p>a{
    text-decoration: none;
    color: red;
}
p>a:hover{
    color: blue;
    text-decoration: underline;
    transition: 1s;
}
p>a:active{
    background-color: white;
}
main > div {
    background-color: black;
}
div.video {
    position: relative;
    padding: 20px;
    padding-bottom: 50%;
}
iframe{
    position: absolute;
    top: 1%;
    left: 1%;
    height: 90%;
    width: 90%;
}
hr {
    width: 55%;
    margin:  auto;
    margin-top: 15px;
    margin-bottom: 12px;
    border: 1px solid gray;
}
footer {
    background-color: rgba(0, 0, 0, 0.253);
    text-align: center;
    padding: 20px;
    margin: auto;
    min-width: 320px;
    max-width: 860px;
}
footer > img{
    padding: 30px;
    margin: 10px;
}
footer > p {
    font-size: 1.6em;
    padding-top: 10px;
    text-align: center;
    margin: auto;
}
footer > a {
    text-decoration: none;
    padding: 16px;
    padding-bottom: 8px;
    text-align: center;
    margin: auto;
}
footer >a:hover{
    background-color: red;
}
footer >a:active{
    background-color: blue;
}