@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Comic Neue";
}
body{
    height: 100vh;
    background-color: #444;
}
header div{
    background-color: #333;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav ul li{
   display: inline;
   margin: 0 1rem;
   
}
ul li a{
    color:#fff;
    transition: .4s;
}
ul li a:hover{
    text-decoration: underline;
    font-size: 17px;
}
div.manga{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.manga h1{
    color: #fff;
    margin: 1rem 3rem;
    padding-left: 58px;
}
.manga  img{
    padding-left: 15px;
}
.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.right p {
    color: #fff;
    font-weight: bold;
    margin-right: 50px;
    width: 500px;
    margin-bottom: 20px;
}
.right button{
    padding: .6rem;
    background-color: #333;
    transition: .5s;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}
.right button a {
    color: #fff;
    transition: .5s;
}
.right button:hover,.right button a:hover{
    background-color: #fff;
    color: #333;
    font-weight: bold;
}
div#jumyou h1, div#one h1{
    width: 200px;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
}
nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'kalam';
    height: 8vh;
}
.nav-list{
    list-style: none;
    display: flex;
}
.nav-list a {
    font-size: 18px;
    font-weight: bold;
    padding-block: 16px;
}
.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}
div button.hamburguer{
    margin-bottom: 100px;
    border: none;
    display: none;
    background: none;
    border-top: 3px solid white;
    cursor: pointer;
}
div button.hamburguer::before,
div button.hamburguer::after{
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: white;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}
@media (max-width:700px) {
    div .logo{
        height:50px;
        padding-block: 10px;

    }
    div button.hamburguer{
        position: fixed;
        display: block;
        z-index: 1;
        top: 26px;
        right: 16px;
    }
    .nav-list{
        position: fixed;
        top:0%;
        left: 50%;
        width: 50vw;
        height: 100vh;
        background: #333;
        clip-path: circle(100px at 110px -25%);
        transition: 1s ease-out;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        margin: 0 auto;
        pointer-events: none;
    }
    .nav-list a{
        font-size: 24px;
        opacity: 0;
    }
    .nav-list li:nth-child(1) a {
        transition: 0.5s 0.2s;
    }
    .nav-list li:nth-child(2) a {
        transition: 0.5s 0.4s;
    }
    .nav-list li:nth-child(3) a {
        transition: 0.5s 0.6s;
    }
    /* estilos ativos */
    .nav.active .nav-list{
        clip-path: circle(1500px at 110px -25%);
        pointer-events: all;
    }
    .nav.active .nav-list a{
        opacity: 1;
    }
    .nav.active .hamburguer{
        position: fixed;
        top: 26px;
        right: 16px;
        border-top-color: transparent;
    }
    .nav.active .hamburguer::before{
        transform: rotate(135deg);
    }
    .nav.active .hamburguer::after{
        transform: rotate(-135deg);
        top: -7px;
    }
    div#div-container .manga{
        display: flex;
        flex-direction:column;
    }
    div.manga{
        text-align: center;
        align-items: center;
    }
    div.manga img{
        height:400px;
        margin:0 auto;
    }
    div.right p{
        font-size: 1rem;
        text-align: center;
        margin-left:30px;
        max-width:300px;
        margin: 0 auto;
        padding-bottom:20px;
    }
    div.right button{
        margin-bottom: 15px;
    }
    body{
        overflow-x: hidden;
    }
}